.pagebreadcumb ul {
    padding: 0;
    margin: 5px 0;
}
.pagebreadcumb ul li {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1;
    padding-right: 25px;
    color: #013989;
    list-style: none;
}
.pagebreadcumb ul li a:after {
    content: ">";
    position: absolute;
    right: -15px;
    font-family: monospace;
}
.pagebreadcumb ul li a {
    position: relative;
    color: #535353;
    font-weight: 600;
}
@media (max-width:1280px) {
    .pagebreadcumb ul li{
        font-size: 12px;
    }
}
@media (max-width:980px){
    .pagebreadcumb ul li {
        font-size: 11px;
    }
}
@media (max-width:680px){
   
    .pagebreadcumb ul li{
        padding-right: 15px;
    }
    .pagebreadcumb ul li a:after{
        right: -10px;
    }
}
@media (max-width:420px){
    .pagebreadcumb ul {
        flex-wrap: wrap;
    }
}