.menu{
    height: 100vh;
    background-color: rgb(41, 41, 41);
    position: fixed;
    z-index: 12;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .body{
        width: 700px;
        .nav{
            display: flex;
            flex-direction: column;
            font-size: 60px;
            gap: 20px;
            line-height: 70px;
            text-transform: uppercase;
            width: 100%;
            float: right;
            text-align: left;
            
            .subChildmenu {
                margin: 0;
                padding: 0;
                text-transform: uppercase;
                display: flex;
                width: 100%;
                li{
                    list-style: none;
                    font-size: 19px;
                    letter-spacing: 3px;
                    line-height: 15px;
                    padding: 0 25px;
                    border-right: solid 1px #514f4f;
                    text-align: center;
                    margin-top: 15px;            
                    a{
                        font-family: var(--font-family);
                        color: #5a5a5a;
                    }
                }
                li:first-child{
                    padding-left: 0;
                }
                li:last-child{
                    border: none;
                    padding-right: 0;
                }
            }            
            .header{
                color: rgb(153, 153, 153);
                border-bottom: 1px solid rgb(153, 153, 153);
                text-transform: uppercase;
                font-size: 11px;
                margin-bottom: 40px;
            }

            a{
                text-decoration: none;
                color: var(--white);
                font-family: var(--heading-font-family);
                transition: ease all 0.5s;
                &:hover{
                    opacity: 0.5;
                }
            }
            a.active{
                color: #098 !important;
            }
            
        }
    }
    .headerButtonContainer {
        z-index: 12;
        position: absolute;
        top: 2.5%;
        right: 2.5%;
    
        .button {
            position: relative;
            margin: 20px;
            width: 4.1667vw;
            height: 4.1667vw;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .burger {
            width: 100%;
            position: relative;
            z-index: 1;
    
            &::after,
            &::before {
                content: "";
                display: block;
                height: 1px;
                width: 40%;
                margin: auto;
                background-color: black;
                position: relative;
                transition: transform 0.3s;
            }
    
            &::after {
                top: -5px;
            }
    
            &::before {
                top: 5px;
            }
        }
    
        .burgerActive {
            
            &::after {
                transform: rotate(45deg);
                top: -1px;
                background-color: #fff;
                width: 60%;
            }
    
            &::before {
                transform: rotate(-45deg);
                top: 0px;
                background-color: #fff;
                width: 60%;
            }
    
        }
    }
}
@media (max-width: 1380px) {
    .menu{
        .body{
            .nav{
                font-size: 36px;
                line-height: 50px;
                gap: 10px;
                .subChildmenu {
                    margin: 0;
                    padding: 0;
                    text-transform: uppercase;
                    display: flex;
                    width: 100%;
                    li{
                        list-style: none;
                        font-size: 17px;
                        letter-spacing: 2px;
                        line-height: 15px;
                        padding: 0 20px;
                        text-align: center;
                        margin-top: 05px;    
                    }
                }   
            }
        }
    }
}

@media (max-width: 1200px) {
    .menu{
        .body{
            .nav{
                font-size: 36px;
                line-height: 50px;
                gap: 10px;
                .subChildmenu {
                    flex-wrap: wrap;
                    li {
                        width: 40%;
                        text-align: left;
                        padding: 0;
                        border: 0;
                        margin: 10px 0;
                    }
                }
                .headerButtonContainer {
                    .button {
                        width: 60px;
                        height: 60px;
                    }
                }
            }}}
   
}
@media (max-width: 630px) {
    .menu{
        .body{
            .nav{
                font-size: 30px;
            }
        }
    }
}