.number_Bg_Image{
    background-attachment: fixed;
    position: relative;
  }
  .numberrow {
    justify-content: space-evenly;
    z-index: 1;
}
.numbercolumn {
    font-family: 'Old Standard TT';
    color: #fff;
    border-top: 1px solid #727272;
}
.countercount .plussign {
    font-size: 50px;
    padding: 0 10px;
}
.countercount {
    font-size: 70px;
    line-height: 70px;
    white-space: nowrap;
}
.countercont p {
    font-family: 'bw-vivant-light';
    font-size: 19px;
    width: 60%;
    text-align: left;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;

}
.odometer-inside {
    font-family: 'bw-vivant-light';
}
@media (max-width:1440px){
    .countercount .plussign {
        font-size: 35px;
    }
    .countercont p{
        font-size: 17px;
        line-height: 26px;
    }
}