.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    height: 150px;
  
    .nav {

        .el {
            display: flex;
            flex-direction: column;
            padding: 0 20px;
            position: relative;
            z-index: 1;
            color: #000;
            font-size: 14px;
            letter-spacing: 3px;

            &:hover {
                .indicator {
                    transform: scale(1);
                }
            }

            a {
                color: inherit;
            }
        }
    }
}
.headerButtonContainer {
    position: relative;
    z-index: 12;

    .button {
        position: relative;
        margin: 20px;
        width: 4.1667vw;
        height: 4.1667vw;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger {
        width: 100%;
        position: relative;
        z-index: 1;

        &::after,
        &::before {
            content: "";
            display: block;
            height: 1px;
            width: 40%;
            margin: auto;
            background-color: black;
            position: relative;
            transition: transform 0.3s;
        }

        &::after {
            top: -5px;
        }

        &::before {
            top: 5px;
        }
    }

    .burgerActive {
        
        &::after {
            transform: rotate(45deg);
            top: -1px;
            width: 60%;
        }

        &::before {
            transform: rotate(-45deg);
            top: 0px;
            width: 60%;
        }

    }
}

@media (max-width: 1440px) {
    .header {
        height: 130px;
        .nav {

            .el {
                font-size: 13px;
                padding: 0 15px;
            }
    }
}
}

@media (max-width: 900px) {
    .headerButtonContainer {
        .button {
            width: 60px;
            height: 60px;
        }
    }
}