.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    height: 170px;
    .logo {
        display: flex;
        cursor: pointer;

        p {
            margin: 0px;
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }

        .name {
            display: flex;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            margin-left: 5px;
            transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);

            p {
                position: relative;
                transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);

                &:nth-of-type(2) {
                    padding-left: 0.3em;
                }

                &:nth-of-type(3) {
                    position: absolute;
                    left: 120px;
                    padding-left: 0.3em;
                }
            }
        }

        &:hover {
            .copyright {
                transform: rotate(360deg);
            }

            .name {
                padding-right: 30px;

                .codeBy {
                    transform: translateX(-100%);
                }

                .dennis {
                    transform: translateX(-65px);
                }

                .snellenberg {
                    transform: translateX(-65px);
                }
            }
        }
    }

    .nav {

        .el {
            display: flex;
            flex-direction: column;
            padding: 0 20px;
            position: relative;
            z-index: 1;
            color: #000;
            font-size: 14px;
            letter-spacing: 3px;

            &:hover {
                .indicator {
                    transform: scale(1);
                }
            }

            a {
                color: inherit;
            }
        }
    }
}
.headerButtonContainer {
    position: relative;
    z-index: 12;

    .button {
        position: relative;
        margin: 20px;
        width: 4.1667vw;
        height: 4.1667vw;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger {
        width: 100%;
        position: relative;
        z-index: 1;

        &::after,
        &::before {
            content: "";
            display: block;
            height: 1px;
            width: 40%;
            margin: auto;
            background-color: black;
            position: relative;
            transition: transform 0.3s;
        }

        &::after {
            top: -5px;
        }

        &::before {
            top: 5px;
        }
    }

    .burgerActive {
        
        &::after {
            transform: rotate(45deg);
            top: -1px;
            width: 60%;
        }

        &::before {
            transform: rotate(-45deg);
            top: 0px;
            width: 60%;
        }

    }
}

@media (max-width: 1366px) {
    .header {
        .nav {
            font-size: 12px;
            height: 40px;
            position: relative;
            top: 1px;
        }
    }
}

@media (max-width: 900px) {
    .headerButtonContainer {
        .button {
            width: 60px;
            height: 60px;
        }
    }
}