.paragraph{
  display: flex;
  font-size: 47px;
  line-height: 1;
  padding: 0;
  font-family: 'Old Standard TT';
  margin: 0;
  flex-wrap: wrap;
  width: 94%;
    .word{
      position: relative;
      margin-right: 12px;
      margin-top: 12px;
      .shadow{
        position: absolute;
        opacity: 20%;
      }
    } 
  }
  @media (max-width:1680px){
    .paragraph{
      font-size: 40px;      
    }
  }
  @media (max-width:1480px){
    .paragraph{
      font-size: 34px;    
      width: 100%;  
    }
  }
  @media (max-width:992px){
    .paragraph{
      font-size: 30px;
      line-height: 38px;
     
        .word{
          position: relative;
          margin-right: 5px;
          margin-top: 5px;
        } 
      }
  }