.projects {
    display: flex;
    align-items: end;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.projectSlider {
    width: 70%;
}

.projectinfo {
    width: 20%;
}

.protitle {
    width: 10%;
    font-size: 70px;
    rotate: 180deg;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.projectSlider .swiper-container {
    width: 85%;
    margin: auto;
}

.protitle h4 {
    font-size: 70px;
    white-space: nowrap;
    font-weight: 300;
    color: rgb(0 0 0 / 10%);
    margin: 0;
    line-height: 70px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.proinfochild h4 {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.projects:nth-child(2) .protitle h4 {
    font-size: 130px;
}

.projects:nth-child(3) .protitle h4 {
    font-size: 110px;
}

.proinfochild ul {
    padding: 0;
    list-style: none;
}

.proinfochild ul li {
    padding: 10px 0;
    position: relative;
}

.proinfochild ul li:before {
    content: '';
    width: 40px;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 0;
}

.proinfochild ul li:last-child {
    padding-bottom: 0;
}

.proinfochild ul li:last-child:before {
    background: transparent;
}

.projects:last-child {
    margin-bottom: 0;
}

.projects:nth-child(odd) {
    flex-direction: row-reverse;
}

.projectLogo {
    width: 250px;
    float: right;
    margin-right: 7.5%;
}

.projectLogo img {
    width: 100%;
}

.projects:nth-child(odd) .protitle {
    rotate: 360deg;
}

.titlePosition {
    position: absolute;
    left: 0;
    right: 0;
}

.projects .wrap {
    margin: auto;
    margin-top: 50px;
}

@media (max-width:1680px) {
    .proinfochild h4 {
        font-size: 21px;
        line-height: 30px;
    }

    .protitle h4 {
        font-size: 50px;
        line-height: 28px;
    }

    .projectLogo {
        width: 200px;
    }

    .projects:nth-child(2) .protitle h4 {
        font-size: 110px;
    }

    .projects:nth-child(3) .protitle h4 {
        font-size: 80px;
    }

    .projects {
        margin-bottom: 50px;
    }
}