:root {
  --font-family: 'Bai Jamjuree';
  --base-font-size: 19px;
  --base-line-height: 30px;
  --base-color: rgb(0 0 0 / 100%);
  --bigFont: 56px;
  --bigLineheight:66px;
  --letter-spacing: 0.5px;
  --creativeslide-height: 80vh;
  --heading-font-family: 'bw-vivant-light';
  --heading-font-size: 2.8125vw;
  --heading-line-height: 3.3333vw;
  --white:#fff;
  --black:#000;
  --font-old--standard-tt: "Old Standard TT";
  --grey: "#f1f2f2"
}

body {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  color: var(--base-color);
  letter-spacing: var(--letter-spacing);
  margin: 0;
}
a{
  color: inherit;
  text-decoration: none;
}
*{
  outline: 0;
}
.overflow-hidden {
  overflow: hidden;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-lg-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-lg-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-lg-10{
  flex: 0 0 auto;
  width: 80%;
}
.col-lg-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}
.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-lg-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-lg-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
.col-10{
  flex: 0 0 auto;
  width: 80%;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.m-auto {
  margin: auto;
}

.align-items-center {
  align-items: center;
}
.vh-100 {
  height: 100vh;
}
.footerbox {
  padding: 50px 0;
  border-top: solid 1px #b2b2b2;
}
.creativeslide {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.creativeslide.hsoul01 {
  left: 25%;
  top: 50%;
}
.creativeslide.hsoul02 {
  left: 25%;
  bottom: 20%;
}

.creativeslide.hsoul03 {right: -10%;left: inherit;bottom: inherit;top: 30%;}
.creativeslide h3{
  font-size: var(--bigFont);
  line-height: var(--bigLineheight);  
  text-transform: uppercase;
  font-family: 'bw-vivant-light';
  pointer-events: all;
  -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    background-image: linear-gradient(90deg, var(--white), var(--white) 50%, rgba(89, 89, 91, 0) 0);
    transition: transform 1s 1s, background-position 1s;
    -webkit-background-clip: text;  
}
.creativeslide.hsoul02 h3, .Herosection .Heroslider .swiper-slide .creativeslide h3, .react-parallax-content .creativeslide h3{
  background-image: linear-gradient(90deg, var(--black), var(--black) 50%, rgba(89, 89, 91, 0) 0);
}
.Herosection .Heroslider .swiper-slide .creativeslide {
  left: 18%;
  bottom: 25%;
}
.Heroslider .swiper-slide-active .creativeslide h3, .react-parallax-content .creativeslide h3  {
  background-position: 0;
}
.layerafter:after {
  content: '';
  width: 100%;
  height: 35vh;
  background: #f7f7f8;
  position: absolute;
  bottom: -20%;
  z-index: 1;
}
.prologo {
  position: absolute;
  bottom: -50%;
  right: 2%;
  background: var(--white);
  width: 280px;
  height: 280px;
  border-radius: 100%;
  transition: ease all 0.5s;
}
.Heroslider .swiper-slide-active .prologo{
  bottom: -12%;
}
.modifiedinput .MuiOutlinedInput-root {
  border-radius: 50px;
  border: none;
  font-family: var(--font-family);
  width: 92%;
}
.swiper-slide .prologo img {
  width: 70%;
  margin: auto;
  height: auto;
  position: relative;
  top: -10%;
}

.zoom-in {
  transform: scale(1.05);
  transition: transform 8s ease-in-out;
}

.zoom-out {
  transform: scale(1);
  transition: transform 8s ease-in-out;
}
.modifiedinput label {
  font-weight: 500;
  font-family: revert-layer;
  text-indent: 5px;
}
@keyframes zoom-in {
  0% {
      transform: scale(1)
  }

  to {
      transform: scale(1.3)
  }
}

@keyframes zoom-out {
  0% {
      transform: scale(1.3)
  }

  to {
      transform: scale(1)
  }
}

.bottom-0 {
  bottom: 0 !important;
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative;
}

.float-start {
  float: left;
}
.float-end{
  float: right;
}
.container {
  width: 93%;
  margin: 0px auto;
  max-width: 93%;
}
.web-container {
  width: 63.6%;
  margin: auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-items-end {
  align-items: end;
}

svg {
  width: 100%;
  height: 100%;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-100 {
  gap: 100px;
}
.gap-25{
  gap: 25px;
}
.logo {
  width: 130px;
  transition: ease all 1s;
  position: relative;
  top: 5px;
}

section {
  width: 100%;
  float: left;
  margin: 80px 0;
}
.slideimg img{
  width: 100%;
  float: right;
}

.heading {
  color: var(--heading-color);
  font-family: 'bw-vivant-light';
  font-size: var(--heading-font-size);
  line-height: var(--heading-line-height);
  position: relative;
  margin: 0;
  font-weight: 300;
}
.heading span {
  font-family: 'Just Lovely Slanted';
  text-transform: capitalize;
  font-size: larger;
  line-height: normal;
}
.theme-color {
  color: var(--red-color);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
}
.homeslider .swiper-slide img:last-child{
  transition: opacity 1s;
    transition: opacity 1s ease-in-out,-webkit-clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out,opacity 1s ease-in-out;
    transition: clip-path 2s ease-in-out,opacity 2s ease-in-out,-webkit-clip-path 2s ease-in-out;
    opacity: 0;
    clip-path: polygon(0% 0%,100% 100%,100% 100%,100% 100%);
}
.homeslider .swiper-slide.swiper-slide-active img:last-child {
  opacity: 1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.homeslider .swiper-slide.swiper-slide-active h3 {
  animation: wave 3s ease-in-out;
}
button {
  margin-top: 30px;
  width: 360px;
  border-radius: 50px;
  border: none;
  background: var(--black);
  color: var(--white);
  font-size: 16px;
  line-height: 58px;
  font-family: var(--font-family);
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: ease all 0.5s;
}
button:hover {
  background: #00499a;
}
.text-black{
  color: var(--black);
}
.text-start {
  text-align: left;
}

.text-center {
  text-align: center;
}
.justify-content-end{
  justify-content: end;
}
.justify-content-start{
  justify-content: start;
}
.linelayer {
  background-image: url(../public/lines.png);
  background-repeat: no-repeat;
  width: 2.6042vw;
  height: 2.6042vw;
  background-size: contain;
  position: absolute;
  top: -15%;
  right: -12%;
}

.galleryslider .swiper-slide:before {
  content: '';
  background: rgb(0 0 0 / 80%);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  transition: ease all 2s;
}

.galleryslider .swiper-slide {
  overflow: hidden;
}

.galleryslider .swiper-slide-active::before {
  top: -100%;
}

.title span {
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: 3px;
  line-height: 24px;
  display: inline-block;
  color: rgb(0 0 0 / 50%);
  margin-bottom: 25px;
}

.title .heading em {
  color: transparent;
  position: relative;
  padding-right: 20px;
  padding-left: 5px;
}

.title {
  margin-bottom: 50px;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.5, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}
.downArrow .swiper-button-prev, .downArrow .swiper-button-next {bottom: 0;top: inherit;}

.downArrow .swiper-button-prev {
    left: 12%;
    background-image: url(../public//left-circle-arrow.webp) !important;
}

.downArrow .swiper-button-next {
left: 15%;
background-image: url(../public//right-circle-arrow.webp) !important;
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(.85);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes radio-check {
  0% {
    width: 0;
    height: 0;
    border-color: #212121;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  33% {
    width: .2em;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  100% {
    width: .2em;
    height: .5em;
    border-color: #212121;
    transform: translate3d(0, -.5em, 0) rotate(45deg);
  }
}

.tabnav {
  width: 50%;
  margin: 50px auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.tab-list:first-child {
  padding-top: 0;
  border-top: 0;
}

input[type='radio']+label em {
  font-style: normal;
}

input[type='radio']:checked+label>em {
  opacity: 0;
}

.product-info {
  width: 20%;
  margin: 1.5% 2.5%;
  float: left;
  position: relative
}

.product-info p {
  text-transform: uppercase;
  text-align: center;
  min-height: 65px;
  letter-spacing: 1px;
}

.product-info img {
  height: auto;
  transition: .3s ease-in-out;
}
.product-info:hover img{
  transform: translateY(-10%);
}
.product-info:hover .shadowlayer {
  opacity: 0.3;
  transform: scale(1);
}

.tabcontantContainer ul li:last-child:before {
 transform: scale(0);
}
.shadowlayer {
  position: absolute;
  bottom: 28%;
  opacity: 0;
  transition: .2s ease-in-out;
  width: 70%;
  height: 25px;
  left: 15%;
}
.tab-list {
  width: 100%;
  float: left;
  padding: 25px 0;
  text-transform: uppercase;
  border-top: dashed 1px #ededed;
  font-family: var(--heading-font-family);
  cursor: pointer;
}
.p-0{
  padding: 0;
}
.m-0, .Gallerybox .title span, .aboutUs .title span, .tabs .title span {
  margin: 0;
}

.text-white {
  color:var(--white) !important;
}

.redcowlayer {
  z-index: -1;
  top: 0;
}

.padding-75 {
  padding-top: 75px;
}

.roundedbutton {
  max-width: 230px;
  margin: 0px auto;
}

.roundedbutton button {
  background: transparent;
  border: none;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  white-space: nowrap;
  line-height: 22px;
  position: relative;
  z-index: 4;
  cursor: pointer;
  transition: ease all 0.5s;
}

.roundedbutton:hover button {
  color: var(--white);
}

.product-info:after {
  content: '';
  background: #f5f5f5;
  position: absolute;
  width: 100%;
  height: 1px;
}

.product-info:before {
  content: '';
  background: #f5f5f5;
  position: absolute;
  width: 1px;
  height: 90%;
  left: -12%;
  top: 0;
}

.product-info:nth-child(4n+1):before {
  opacity: 0;
}

.resultrow .slick-arrow.slick-prev,
.resultrow .slick-arrow.slick-next,
.swiper-horizontal .swiper-button-prev,
.swiper-horizontal .swiper-button-next {
  background-image: url(../public/arrow.webp);
  width: 65px;
  height: 65px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-horizontal .swiper-button-next,
.resultrow .slick-arrow.slick-next {
  background-image: url(../public/right-arrow.webp);
}
.downArrow .swiper-horizontal .swiper-button-prev, .downArrow .swiper-horizontal .swiper-button-next {
  width: 35px;
  height: 35px;
  bottom: 3% !important;
}
.swiper-button-prev:after,
.swiper-button-next:after,
.slick-next::before,
.slick-prev::before, .projectDetails .title-item:first-child {
  display: none;
}

.galleryslider .swiper-button-prev,
.galleryslider .swiper-button-next {
  filter: invert(1);
  opacity: 0.5;
}
.galleryslider .swiper-button-prev{
  left: 7%;
}
.galleryslider .swiper-button-next{
  right: 7%;
}
.react-parallax {
  float: left;
  height: 520px;
  width: 100%;
}
/* .react-parallax img {
  height: 100vh !important;
  object-fit: cover;
  width: 100vw !important;
} */
.resultrow .slick-arrow.slick-prev,
.resultrow .slick-arrow.slick-next {
  left: -100px;
  background-size: contain;
  height: 50px;
}

.resultrow .slick-arrow.slick-next {
  right: -100px;
  left: inherit;
}

.webtitle.is-animetion span {
  display: inline-block;
  animation: wave-text 1s ease-in-out infinite;
}

.webtitle.is-animetion {
  span:nth-of-type(1){ animation-delay: 0.0s; }
  span:nth-of-type(2){ animation-delay: 0.1s; }
  span:nth-of-type(3){ animation-delay: 0.2s; }
  span:nth-of-type(4){ animation-delay: 0.3s; }
  span:nth-of-type(5){ animation-delay: 0.4s; }
}

@keyframes wave-text{
  00%{
    transform: translateY(0em);
  }
  60%{
    transform: translateY(-0.6em);
  }
  100%{
    transform: translateY(0em);
  }
}
@keyframes wave-t {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
}
.wave-text span {
  display: inline-block;
  animation: wave-t 1s infinite;
}

.footerbox p span{
  background-size: contain;
  width: 2.6042vw;
  height: 2.6042vw;
  background-repeat: no-repeat;
}
.email{
  background-image: url(../public/message.webp);
}
.call{
  background-image: url(../public/call.webp);
}
.map{
  background-image: url(../public/map.webp);
}
.lh-1 {
  line-height: normal;
}
.footerbox p, .lightcont h4 {
  font-size: 17px;
  line-height: 26px;
}
@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  25%, 75% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 5px
}

::-webkit-scrollbar-thumb {
  border-radius: 5px
}

::-webkit-scrollbar-thumb,::-webkit-scrollbar-thumb:hover {
  background: var(--black-color)
}

::-webkit-scrollbar-track {
  background: #f0f0f0
}

::-webkit-scrollbar-button {
  display: none
}

::-webkit-scrollbar-corner {
  background: #f0f0f0
}
.mt-100{
  margin-top: 100px;
}
.content p{
  margin-top: 0;
}
.tabs-container {
  display: flex;
  margin-bottom: 20px;
}
.customMargin {
  margin-bottom: 15px;
}
.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  transition: border-bottom 0.3s ease;

  &:hover {
    border-bottom: 2px solid #3498db;
  }
}

.tab-content {
  margin-top: 20px;
  padding: 20px;
}
.tab-buttons button, .tabs .react-tabs__tab {
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--black);
  margin: 0 1%;
  line-height: 50px;
  font-size: 16px;
  padding: 0;
  font-family: var(--font-family);
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  border: none;
}
.tabs .react-tabs__tab::before{
  content: '';
  width: 0;
  height: 10px;
  position: absolute;
  background-color:var(--white);
  bottom: 0;
  left: 0;
  transition: ease all 0.5s;
}
.tabs .react-tabs__tab--selected::before{
  border: none;
  background-color: var(--black);
  width: 100%;
}
.tabs .react-tabs__tab:focus:after{
  background-color: transparent;
}
.tabproject {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
  width: 25%;
}

.tabimageContainer {
  float: left;
  position: relative;
  width: 50%;
}
.tabcontantContainer {
  width: 50%;
  text-align: left;
}
.tabslider {
  display: flex;
  position: relative;
  width: 60%;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  align-items: center;
  background: #fbfffc;
  border: solid 1px #d4e7da;
}
.tabproductimg {
  width: 100%;
  display: flex;
}

.meltingshpae {
  position: absolute;
  bottom: -15%;
  width: 100%;
  z-index: 1;
  transform: rotate(180deg);
}
.desktop-show{
  display: block !important;
}
.mobile-show{
  display: none !important;
}

.othersundaename ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 10px;
    row-gap: 25px;
    padding: 0;
}

.othersundaename ul li {
  border: solid 1px #efefef;
  padding: 10px 30px;
  border-radius: 50px;
  background: #fcffff;
  font-size: 0.8854vw;
  color: #34808d;
  line-height: 24px;
}
.tabcontantContainer ul {
  list-style: none;
  padding: 0;
  width: 80%;
  margin: auto;
}

.tabcontantContainer ul li {
    padding: 10px 0;
    position: relative;
    color: var(--black);
}

.tabcontantContainer ul li:before {
    content: '';
    width: 30px;
    height: 1px;
    background: #c60e0f;
    position: absolute;
    bottom: 0;
}
.locatordata .outlateshapes {
  width: 30%;
}
.ui.dropdown .menu>.item{
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}

.store_image {
  width: 50%;
}
.store_image img, .Upcomingimg img {
  width: 100%;
  height: auto;
}
.card_data {
  width: 40%;
  display: flex;
  flex-direction: column;
}
._card {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  flex-direction: row;
  float: left;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: solid 1px #ededed;
}

._buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}
.card_data h2 {
  font-family: Mikkel Sans;
  font-size: 40px;
  margin: 0;
  font-weight: bold;
  line-height: 50px;
}
.get_direction_btn:hover a {
  color: #c60e0f;
}
.btn_red svg {
  width: 25px;
  height: auto;
  fill:var(--white);
  display: inline;
  margin-right: 8px;
}
.btn_red.time.maps.w-100 svg {
  width: 25px;
  height: 30px;
}

.get_direction_btn {
  font-size: 22px;
  color: var(--black)000;
  font-weight: bold;
  margin-top: 15px;
  display: flex;
}

.get_direction_btn svg {
  display: inline;
  margin-right: 10px;
  height: auto;
  width: 42px;
}

/* Style for the tab container */
.tab-container {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

/* Style for individual tabs */
.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f8f8f8;
}

.tabs-scn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.tab_pane {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.tab_pane.visible {
  opacity: 1;
}

.loader_parent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.loader {
  border: 4px solid rgba(231, 121, 121, 0.1);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid rgba(231, 121, 121, 0.1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}
.tab-content, .react-parallax-content, .Upcomingimg.w-100{
  width: 100%;
}

.loader {
  border: 4px solid rgba(231, 121, 121, 0.1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.internet_error {
  text-align: center;
  font-size: 18px;
}

.tabs-scn .tab-content {
  padding: 0;
  margin: 0;
}
.btn_red{
  text-transform: capitalize;
  display: flex;
}
.managesingleslice ._card:last-child {
  border: none;
  float: none;
}
.px-3 {
  padding: 0 25px;
}
.p-100{
  padding: 100px 0;
}
.pt-0{
  padding-top: 0;
}
.mb-0{
  margin-bottom: 0;
}
.wrap {
  margin-top: 50px;
}

.wrap span {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  padding: 0 50px;
  transition: ease all 0.5s;
}
.wrap .btn-11:before {
  content: '';
  width: 25px;
  height: 25px;
  background: var(--black);
  position: absolute;
  border-radius: 100%;
  opacity: 0.2;
  left: 50%;
  transform: translateX(-50%);
  transition: ease all 0.5s;
}

.btn-11 {
  width: -moz-fit-content;
  width: fit-content !important;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
}
.wrap .btn-11:hover:before {
  width: 100%;
  height: 100%;
  border-radius: 45px;
  background: #00499a;
  opacity: 1;
}
.btn-11:hover span{
  color:var(--white);
}
.Upcomingimg {
  width: 46%;
  float: left;
  margin: 0 2%;
  position: relative;
}
.Upcomingimg h4 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
  line-height: 60px;
  font-weight: normal;
  color:var(--white);
  letter-spacing: 3px;
}
.aboutUs{
  background-color: #f6f6f7;
}
.aboutUs::before{
  background-image: url('./images/wave.webp');
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.09;
}
.loadeffect {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  height: auto;
  overflow: hidden;
  position: relative;
  transition: 1s ease-out;
  transition-delay: .2s;
  visibility: hidden;
}
.col-12.float-start.aos-init.aos-animate .Upcomingimg.loadeffect, .projects.col-12.float-start.position-relative.aos-init.aos-animate .projectSlider.loadeffect {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transform: skewY(0);
  visibility: visible;
}
.sideLogo {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 400px;
  filter: grayscale(1);
  height: 400px;
  display: flex;
  opacity: 0.1;
}
.header {
  transition: all .5s ease;
}
.showTextcont{
  z-index: 9;
}
.header.sticky {
  box-shadow: 0 3px 3px rgba(0, 0, 0, .12);
  width: 100%;
  z-index: 12;
  background-color: var(--black);
}
.sticky {
  -webkit-animation: smoothScroll 1s forwards;
  animation: smoothScroll 1s forwards;
  left: 0;
  position: fixed;
  top: 0;
}

.header.sticky .logo {
  width: 100px;
}
.header.sticky .menu .Textcolor div{
  color: var(--white);
}
.header.sticky .menu .Textcolor div::after, .header.sticky .menu .Textcolor div::before{
  background-color: var(--white);
}
.proHeaderClass .header .menu .Textcolor div:before, .proHeaderClass .header .menu .Textcolor div:after{
  background-color: var(--white);
}
/* .header.sticky .menu .style_headerButtonContainer__3pquu .style_burger__eYK2Q::after, .header.sticky .menu .style_headerButtonContainer__3pquu .style_burger__eYK2Q::before{
  background-color: var(--white);
} */
.logo img {
  width: 100%;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}
.error{
    padding: 50px 0;
}
.error p {
  width: 70%;
  margin: auto;
}
.projectslider{
  width: 48%;
  position: relative;
}
figure.snip0016 {
  color: var(--white);
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: left;
  margin: 0
}
figure.snip0016 img{
  width: 100%;
}
figure.snip0016 figcaption {
  position: absolute;
  bottom: 10px;
  left: 0;
  padding: 10px 1em;
  right: 0;
}

figure.snip0016:before {
  position: absolute;
  content: "";
  transition: all .5s;
  transition-delay: .2s;
  background: rgb(0 0 0 / 50%);
  top: 100%;
  bottom: 10px;
  left: 0;
  right: 0;
}
figure.snip0016:hover:before {
  top: 0;
}
figure.snip0016 h3,figure.snip0016 h4,figure.snip0016 p {
  opacity: 0;
  transition: opacity .35s,transform .35s;
  margin-bottom: 0;
  text-transform: uppercase
}

figure.snip0016 h3, figure.snip0016 h4 {
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
  letter-spacing: 1px;
  width: 60%;
}
figure.snip0016 p:last-child:hover{
  background: #013989;
}
.mantainde p,figure.snip0016 p,figure.snip00161 p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase
}

figure.snip0016 h4 {
  text-transform: uppercase;
  transform: translate3d(30%,0,0);
  transition-delay: .3s
}

figure.snip0016 p, figure.snip00161 p {
  transform: translate3d(0, 30%, 0);
  transition-delay: 0s;
  margin: 0;
  width: 60%;
}

figure.snip0016 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color:var(--white)
}


figure.snip0016:hover figcaption h3,figure.snip0016:hover figcaption h4 {
  opacity: 1;
  transform: translateZ(0);
  transition-delay: .4s
}

figure.snip0016:hover figcaption p {
  opacity: .9;
  transform: translateZ(0);
  transition-delay: .6s
}

figure.snip0016 p:last-child {
  position: absolute;
  right: 5%;
  bottom: 20%;
  max-width: 160px;
  float: right;
  text-transform: uppercase;
  background: rgb(93 93 93);
  line-height: 50px;
  border-radius: 25px;
  white-space: nowrap;
  text-align: center;
  transition-delay: 0.5s;
}

figure.snip0016 a {
  text-decoration: inherit;
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: 500
}
.projectscont {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 8;
  transform: translate(-50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0 0 0 / 70%);
  width: 100%;
  padding: 25px 0;
}
button.proarrow {
  background: transparent;
  border: none;
  bottom: 2%;
  position: absolute;
  right: 2%;
}
.projectscroll img {
  height: 100vh;
  object-fit: cover;
  object-position: bottom;
  width: 100%;
}
.first-stn {
  position: relative;
}
.projectscroll {
  width: 100%;
  float: left;
  height: 100vh;
  overflow: hidden;
}
/* Project Details */
.fp-watermark{
  display: none !important;
}
.proHeaderClass {
  position: fixed;
  background: var(--black);
  z-index: 1;
  top: 0;
  left: 0;
}

.proHeaderClass .menu a {
    color: var(--white) !important;
}

.proHeaderClass .logo {
    width: 120px;
}

.details {
  max-height: 150px;
  color:var(--white);
  gap: 20px;
  width: 75%;
  overflow: auto;
}
.details h4,
.details p, .projectscroll .title span, .marginRemoveul ul {
  margin: 0;
}

.details h4 {
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 30px;
}

.details p {
  width: 100%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
}

.details p span {
  padding: 0 10px;
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
}

.details p span:last-child {
  border: none;
  padding-right: 0;
}

.details p span:before {
  content: '';
  width: 1px;
  height: 60%;
  position: absolute;
  top: 50%;
  left:0;
  background:var(--white);
  transform: translate(-50%, -50%);
}
.detailHeading {
  width: 30%;
}

.detailContent {
  width: 70%;
}
.Gallerybox, .proGallery{
  height: var(--creativeslide-height);
}
.proDetail [data-aos^=fade][data-aos^=fade] {
  opacity: 1;
}

.proDetail .transformRemove {transform: none !important;}

.proDetail {
  padding-top: 7vh;
}
.tools {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  z-index: 1;
  background: var(--white);
  padding: 15px;
  gap: 10px;
}

.tools button {
  margin: 0;
  width: auto;
  height: auto;
  line-height: inherit;
  display: flex;
  padding: 10px;
  border-right: solid 1px #ededed;
  border-radius: 0;
}

.locationMap {
  margin-top: 20vh;
  height: 80vh;
  overflow: hidden;
}
.Heroslider .swiper-slide img, .projectscroll .galleryslider img, .projectscroll .lg-react-element img{
  height: auto;
}
*, :after, :before {
  box-sizing: inherit;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.preloader {
  width: 100%;
  position: fixed;
  background:var(--white);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  height: 100vh;
}
.projectDetails {
  position: fixed;
  top: 120px;
  width: 100%;
  background-color: #414042;
  z-index: 1;
  display: flex;
  justify-content: center;
  gap: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.fixMenu {
  gap: 25px;
  padding-right: 6.5vw;
}
.projectDetails .title-item {
  background: transparent;
  margin: 0;
  line-height: 45px;
  width: auto;
  color: var(--white);
  text-transform: capitalize;
  font-size: 15px;
  letter-spacing: 1.2px;
  cursor: pointer;
  white-space: nowrap;
}
.lg-download.lg-icon {
  display: none;
}
.projectDetails .title-item.active {
  color: #ceb87f;
}
.projectDetails .pagebreadcumb ul li{
  color: #d0d0d0;
}
.sticky .menu .active{
  color: #ceb87f !important;
}
.proDetail .footerbox {
  padding-bottom: 0;
}
.prologoHeader {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 1%;
  transform: translate(-50%);
}
.prologoHeader img, .constructionUpdates .column9{
  width: 100%;
}
.constructionUpdates .lg-react-element {
  display: flex;
  justify-content: center;
  row-gap: 15px;
}
.textFormat {
  text-transform: capitalize;
}
.bgcolor {
  background: #edf2fa;
}
.pageContent a {
  text-decoration: underline;
  color: #0a327b;
  transition: ease all 0.5s;
  &:hover{
    color: var(--black);
    text-decoration: none;
  }
}
.menu .active {
  color: #013989 !important;
  font-weight: 600;
  border-bottom: solid 1px currentColor;
}
.slideMenu a.active {
  color: #838383 !important;
  border-bottom: solid 1px currentColor;
}
.bggrey {
  background: #f7f7f7;
}
.MuiButtonBase-root.homeSoulAccordion {
  background: #003d89;
  border-radius: 50px;
  padding: 0px 30px;
  height: 75px;
}
[aria-expanded="true"] {
  background: var(--black) !important;
}
.MuiPaper-elevation {
  margin-bottom: 10px;
  box-shadow: inherit;
  border-radius: 50px !important;
}
.MuiPaper-elevation::before{
  content: '' !important;
  opacity: 0 !important;
}
.homeSoulAccordion p, .MuiTypography-root p, .MuiTypography-root ul li{
  color: var(--white);
  font-size: 19px;
  font-family: var(--font);
  line-height: 24px;
}
.MuiTypography-root p, .MuiTypography-root ul li{
  color: var(--black);
}
.MuiTypography-root ul li{
  margin-bottom: 10px;
}
.MuiAccordionDetails-root, .MuiTypography-root {
  font-family: var(--font) !important;
}
.Accordion .MuiAccordionSummary-expandIconWrapper {
  color: var(--white);
}
.MuiAccordionSummary-content, .lg-toolbar .lg-icon{
  margin: 0 !important;
}
.proGallery .lg-react-element {
  width: 100%;
  display: inline-block;
}
.col-Years select {
  width: 130px;
  height: 50px;
  text-align: center;
  border: solid 1px #c0c0c0;
  border-radius: 50px;
  background: #f2f2f2;
}
.projectDetails .pagebreadcumb ul li a {
  color:#878686;
}

.Upcomingimg p {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.justify-content-between {
  justify-content: space-between;
}
.downloadTab {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.quickTabs span {
  background: #ceb87f;
  width: 350px;
  line-height: 70px;
  border-radius: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: bold;
  transition: ease all 0.5s;
  display: inline-block;
}
.downloadTab .title span {
  margin-bottom: 10px;
}
.quickTabsrera {
  position: absolute;
  bottom: 5%;
}
.quickTabsrera.quickTabs span {
  width: auto;
  font-size: 21px;
  line-height: 70px;
  border-radius: 50px;
  color: #fcf8ff;
  background: #414042;
}
.quickTabs span:hover {
  color: #ceb87f;
  background: #000;
}
.react-parallax-content .creativeslide {
  left: inherit;
  right: 0;
  transform: inherit;
  top: inherit;
}
.react-parallax-content .creativeslide h3 {
  padding: 0 10px;
}
@media (max-width:1680px){

  .projectDetails .title-item {
    font-size: 13px;
    line-height: 40px;
  }
  :root { 
    --bigFont: 50px;
    --bigLineheight:56px;
    --creativeslide-height: 77vh;
    --base-font-size:17px;
    --base-line-height: 26px;
  }
  
.prologo {
  width: 250px;
  height: 250px;
}
.prologoHeader {
  width: 220px;
  top: 3%;
}

.details p span {
  font-size: 15px;
  line-height: 20px;
}


.title span{
  font-size: 17px;
  line-height: 22px;
}
}
@media (max-width:1480px){
  .react-parallax.numberCounter {
    height: auto;
    padding: 50px 0;
    padding: 100px 0;
}
  .details {
    width: 90%;
}
.react-parallax{
  height: 400px;
}
  .fixMenu {
    gap: 20px;
}
  .title{
    margin-bottom: 40px;
  }
  .btn-11 {
    height: 50px;
}

.wrap span {
    padding: 0 30px;
    font-size: 14px;
    letter-spacing: 2px;
}
  section{
    margin: 50px 0;
  }
.footerbox p {
  font-size: 15px;
  line-height: 24px;
}
.proinfochild ul li:before{
  width: 30px;
  height: 1px;
}
.Upcomingimg h4{
  font-size: 40px;
  line-height: 50px;
}
button {
  width: 280px;
  line-height: 50px;
  font-size: 14px;
}
.footerbox{
  padding-top: 25px;
  padding-bottom: 0;
}
.title span{
  margin-bottom: 15px;
}
.mantainde p{
  font-size: 13px;
  line-height: 28px;
}
figure.snip0016 p, figure.snip00161 p{
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
}
figure.snip0016 h3, figure.snip0016 h4{
  font-size: 1.2rem;
}
.prologo {
  width: 200px;
  height: 200px;
}
.resultrow .slick-arrow.slick-prev, .resultrow .slick-arrow.slick-next, .swiper-horizontal .swiper-button-prev, .swiper-horizontal .swiper-button-next {
  width: 40px;
  height: 40px;
}
}
@media (max-width:1380px){
  .Upcomingimg h4 {
    font-size: 30px;
    line-height: 40px;
}
  
.details h4{
  font-size: 19px;
  line-height: 26px;
}
.details p{
  row-gap: 3px;
}
.details p span {
  font-size: 14px;
  line-height: 20px;
}
  .title {
    margin-bottom: 30px;
}
  .footerbox p {
    font-size: 14px;
    line-height: 20px;
}
  .logo {
    width: 100px;
}
:root {
  --bigFont: 40px;
  --bigLineheight: 46px;
  --base-font-size: 16px;
  --base-line-height: 24px;
}
.proHeaderClass .logo, .header.sticky .logo {
  width: 80px;
}
.prologoHeader {
  width: 180px;
  max-width: 180px;
}
.projectDetails {
  top: 100px;
}
.projectDetails .title-item {
  font-size: 11px;
  line-height: 30px;
  letter-spacing: 2px;
}
.sideLogo{
  width: 300px;
  height: 300px;
}
}
@media (max-width:1280px){
  .downArrow .swiper-horizontal .swiper-button-prev, .downArrow .swiper-horizontal .swiper-button-next{
    width:25px;
    height:25px;
  }
  .web-container {
    width: 80%;
}
.Herosection {
  align-items: center;
}
.slideMenu {
  width: 400px !important;
}
.projects:nth-child(2) .protitle h4 {
  font-size: 80px;
}
.projects:nth-child(3) .protitle h4 {
font-size: 50px;
}
.protitle h4{
  font-size: 35px;
}
}
@media (max-width:1200px){
 
  .downArrow .swiper-button-next{
    left: 20%;
  }
  .creativeslide.hsoul03 {
    right: -18%;
}
  .projectDetails .title-item{
    display: none;
  }
  .projectscroll .layerafter {
    margin-top: 50px;
}
.footerForm{
  width: 100%;
}
}
@media (max-width:992px){
  .Heroslider .swiper-slide img {
    height: 100%;
    object-fit: cover;
}
.creativeslide {
  bottom: 10%;
}
.logo{
  left: 10%;
}
.Heroslider .swiper-slide .projectbanner {
    height: 80vh;
}

.Heroslider .swiper-slide .prologo img {
    height: auto;
    top: -14%;
}

.downArrow .swiper-button-next {
    left: 17%;
}
.desktop-show{
  display: none !important;
}
.mobile-show{
  display: block !important;
}
}
@media (max-width:630px){
  .footerForm .col-lg-4 {width: 100%;margin-bottom: 20px;}

  .modifiedinput .MuiOutlinedInput-root {
      width: 100%;
  }
  
  .footerbox {
      width: 40%;
      margin-top: 30px;
  }
  
  .creativeslide.hsoul02, .creativeslide.hsoul01, .creativeslide.hsoul03 {
      bottom: inherit;
      top: 10%;
      left: inherit;
      transform: inherit;
      right: 2%;
  }
  .creativeslide.hsoul02 h3 {
      background-image: linear-gradient(90deg, var(--white), var(--white) 50%, rgba(89, 89, 91, 0) 0);
  }

.tab-buttons button, .tabs .react-tabs__tab {
    width: 120px;
    letter-spacing: 2px;
    font-size: 13px;
}

.tabs .react-tabs__tab::before {
    height: 5px;
}

.tabs ul {
    min-width: 480px;
    overflow: auto;
}

.tabs .swiper-slide img {
    height: 350px;
    object-fit: cover;
}
.Upcomingimg{
  width: 100%;
  margin-bottom: 10px;
}
.footerForm .col-lg-4 {width: 100%;margin-bottom: 20px;}

.modifiedinput .MuiOutlinedInput-root {
    width: 100%;
}

.footerbox {
    width: 40%;
    margin-top: 30px;
}
}